@font-face
{
font-family:"pfagorasanspro_xthin";
font-style:normal;
font-weight:normal;
src:url("../fonts/pfagorasanspro-xthin-webfont.eot");
src:url("../fonts/pfagorasanspro-xthin-webfont.eot?#iefix") format("eot"),url("../fonts/pfagorasanspro-xthin-webfont.woff") format("woff"),url("../fonts/pfagorasanspro-xthin-webfont.ttf") format("truetype"),url("../fonts/pfagorasanspro-xthin-webfont.svg#web") format("svg");
}
@font-face
{
font-family:"WOL_Reg";
font-style:normal;
font-weight:normal;
src:url("../fonts/wol_reg.eot");
src:url("../fonts/wol_reg.eot?#iefix") format("eot"),url("../fonts/wol_reg.woff") format("woff"),url("../fonts/wol_reg.ttf") format("truetype"),url("../fonts/wol_reg.svg#web") format("svg");
}
@font-face{
	font-family: 'report';
	src: url('../fonts/1942.ttf') format('truetype');
}
h1, h2, h3,
h4, h5, h6, th, text, tspan, .likeH, .navbar-brand {
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: 'pfagorasanspro_xthin', Tahoma;
  text-transform: uppercase;
  font-weight:100;
}
h5 { margin-bottom: 5px; }
body {
    padding-top: 50px;
    font-family: 'WOL_Reg', Tahoma;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}
hgroup.title h1, hgroup.title h2 {
    display: inline;
}
hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}
.breadcrumb
{
	background:inherit;
}
form label.error {
color: #b94a48;
margin-left:10px;
font-weight: inherit;
}
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
padding: 5px 10px;
/*min-width:250px;*/
}
.input-medium{
	min-width:250px;
}
.centers{
	vertical-align: middle;
}
.navbar-brand{
    font-family: 'report', Tahoma;
    font-size:28px;
}
.input-long {
display: block;
width: 100%;
height: 35px;
padding: 8px 13px;
font-size: 12px;
line-height: 1.42857143;
color: #555555;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.likeButton {
cursor: pointer;
}
/* ul-treefree */
ul.ul-treefree { padding-left:25px; }
ul.ul-treefree ul { margin:0; padding-left:6px; }
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 1px #999; }
/* ul-dropfree */
ul.ul-dropfree div.drop {
    width:11px;
    height:11px;
    position:absolute;
    z-index:10;
    top:6px;
    left:-6px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC');
    background-position:-11px 0;
    background-repeat:no-repeat;
    cursor:pointer;
}